body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: #141e30; */
  background-color: #000000;
  margin: 0;
  font-family: monospace;
  background: linear-gradient(45deg, #000000 0%, #080808 100%);
  font-weight: lighter;
  color: #fff8f0;
}

#wrapper {
  width: 518px;
  height: 165px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#wrapper span,
#wrapper p {
  margin: 0;
  font-size: 1.2em;
  line-height: 0.8em;
}
#wrapper span {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  text-align: center;
  color: #fff;
}
#wrapper span:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
#wrapper span:hover:after {
  opacity: 1;
}
#wrapper span.purple {
  color: #7D7D7D;
}
#wrapper span.purple:hover:after {
  background-color: #D8FF17;
}
a {
	text-decoration: none;
	color: #333333;
	font-weight: 700;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

a:hover {
	color: #a7a7a7;
}

.floatBox {
  margin-left: 10%;
  margin-top: 4%;

}

.lists {
	display: flex;
	margin-left: 854px;
	margin-top:40px;
}

ul.list1 {
	margin-right: 50px;
}

ul.list2 {
	margin-right: 50px;
}

.lists ul {
	display: inline-block;
}

li {
	list-style: none;
	padding-bottom: 5px;
}

#undLne {
	display: inline-block;
	position: relative;
	padding-bottom: 5px;
}

#undLne:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0;
	transition: width 0s ease, background 0.5s ease;
}

#undLne:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 2px;
	width: 0;
	background: #D8FF17;
	transition: width 0.5s ease;
}

#undLne:hover:before {
	width: 100%;
	background: grey;
	transition: width 0.5s ease;
}

#undLne:hover:after {
	width: 100%;
	background: transparent;
	transition: all 0s ease;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c2c2c2;
  opacity: 1; /* Firefox */
  animation: blink-animation 1s steps (10, start) infinite; 
}
.search {
	display: flex;
	justify-content: center;
	margin-top: 15%;
}
input {
	border:none;
  border-bottom: 2px solid #D8FF17;
  opacity: 0.4;
	min-width: 505px;
	padding-bottom: 10px;
	background-color: transparent;
	color: #adadad;
	outline: 0;
	margin-bottom: 20px;
}

.main {
display: flex;
}